@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.row{
  display: flex;
  justify-content: end;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.container{
  padding: 20px 20px;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}



a {
  text-decoration: none;
  position: relative;
  transition: opacity 300ms ease;
}

.red{
  color: red;
}

.header__title{
  background-color: black;
  height: 50px;
}

.title{
  padding: 10px 0;
  text-align: center;
}

.world{
  color: white;
}

.welcome{
  text-align: center;
  padding-top: 30px;
  font-size: 50pt;
}

.muworld{
  text-align: center;
  font-size: 55pt;
}

h2{
  text-align: center;
  margin-bottom: 24px;
}

form{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 400px;
}

input{
  margin-bottom: 16px;
  padding: 4px 4px;
}

.login{
  width: 100%;
  max-width: 100px;
  height: 32px;
  background-color: red;
  color: white;
  font-weight: 1000;
  margin: 0 auto;
  border: none;
  border-radius: 10%;
}

footer{
  background-color: black;
  height: 40px;
  margin-top: 50px;
}

.footer__text{
  color:white;
  text-align: center;
  padding: 8px 0;
}